In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv('500_Person_Gender_Height_Weight_Index.csv')

In [3]:
dataset

     Gender  Height  Weight  Index
0      Male     174      96      4
1      Male     189      87      2
2    Female     185     110      4
3    Female     195     104      3
4      Male     149      61      3
..      ...     ...     ...    ...
495  Female     150     153      5
496  Female     184     121      4
497  Female     141     136      5
498    Male     150      95      5
499    Male     173     131      5

[500 rows x 4 columns]

In [20]:
dataset.columns

Index(['Gender', 'Height', 'Weight', 'Index'], dtype='object')

In [21]:
x=dataset['Weight']

In [22]:
y=dataset['Height']

In [23]:
from keras.layers import Dense

In [24]:
from keras.models import Sequential

In [25]:
model=Sequential()

In [26]:
model.add(Dense(1, activation='linear'))

In [27]:
model.get_config()

{'name': 'sequential_1',
 'layers': [{'class_name': 'Dense',
   'config': {'name': 'dense_1',
    'trainable': True,
    'dtype': 'float32',
    'units': 1,
    'activation': 'linear',
    'use_bias': True,
    'kernel_initializer': {'class_name': 'GlorotUniform',
     'config': {'seed': None}},
    'bias_initializer': {'class_name': 'Zeros', 'config': {}},
    'kernel_regularizer': None,
    'bias_regularizer': None,
    'activity_regularizer': None,
    'kernel_constraint': None,
    'bias_constraint': None}}]}

In [31]:
model.compile(loss="mean_absolute_error")

In [32]:
model.fit(x, y, epochs=20)

Epoch 1/20
16/16 [==============================] - 1s 2ms/step - loss: 53.3362
Epoch 2/20
16/16 [==============================] - 0s 5ms/step - loss: 52.1223
Epoch 3/20
16/16 [==============================] - 0s 3ms/step - loss: 51.1824
Epoch 4/20
16/16 [==============================] - 0s 3ms/step - loss: 50.3149
Epoch 5/20
16/16 [==============================] - 0s 3ms/step - loss: 49.5082
Epoch 6/20
16/16 [==============================] - 0s 3ms/step - loss: 48.7529
Epoch 7/20
16/16 [==============================] - 0s 3ms/step - loss: 48.0418
Epoch 8/20
16/16 [==============================] - 0s 2ms/step - loss: 47.3807
Epoch 9/20
16/16 [==============================] - 0s 3ms/step - loss: 46.8840
Epoch 10/20
16/16 [==============================] - 0s 3ms/step - loss: 46.4217
Epoch 11/20
16/16 [==============================] - 0s 3ms/step - loss: 45.9742
Epoch 12/20
16/16 [==============================] - 0s 2ms/step - loss: 45.5539
Epoch 13/20
16/16 [==============================] - 0s 3ms/step - loss: 45.1961
Epoch 14/20
16/16 [==============================] - 0s 2ms/step - loss: 44.9069
Epoch 15/20
16/16 [==============================] - 0s 2ms/step - loss: 44.6921
Epoch 16/20
16/16 [==============================] - 0s 3ms/step - loss: 44.5064
Epoch 17/20
16/16 [==============================] - 0s 10ms/step - loss: 44.3546
Epoch 18/20
16/16 [==============================] - 0s 4ms/step - loss: 44.2093
Epoch 19/20
16/16 [==============================] - 0s 5ms/step - loss: 44.0685
Epoch 20/20
16/16 [==============================] - 0s 6ms/step - loss: 43.9597

In [33]:
x

0       96
1       87
2      110
3      104
4       61
      ...
495    153
496    121
497    136
498     95
499    131
Name: Weight, Length: 500, dtype: int64

In [37]:
model.get_weights()

[array([[1.3807834]], dtype=float32), array([0.30527505], dtype=float32)]